doctype html
html
  head
    meta(charset='euc-kr')
    title 프로그라피 피드백
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      h3 프로그라피 피드백
      form.form-inline
        .form-group
          label(for='msgForm') Message: 
          input#msgForm.form-control(type='text')
        button.btn.btn-primary(type='submit') Send
      #messages
      style.
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages div { padding: 5px 10px; }
        #messages div:nth-child(odd) { background: #eee; }

    script(src='javascripts/socket.io.js')
    script(src='javascripts/jquery.min.js')
    script.
      $(function(){
      // socket.io 서버에 접속한다
      var socket = io("http://13.125.37.214:3000");
      // 서버로 자신의 정보를 전송한다.
      socket.emit("login", {
      name: "강재윤",
      userid: "ungmo2@gmail.com"
      });
      // 서버로부터의 메시지가 수신되면
      socket.on("login", function(data) {
      $("#messages").append("<div><strong>" + data + "</strong> has joined</div>");
      });
      // 서버로부터의 메시지가 수신되면
      socket.on("s2c chat", function(data) {
      $("#messages").append("<div><strong>" + data.from.name + " : </strong>" + data.msg + "</div>");
      });
      // Send 버튼이 클릭되면
      $("form").submit(function(e) {
      e.preventDefault();
      var $msgForm = $("#msgForm");
      // 서버로 메시지를 전송한다.
      socket.emit("chat", { msg: $msgForm.val() });
      $msgForm.val("");
      });
      });

