doctype html
html
    head
        meta(charset='euc-kr')
        title 프로그라피드백 룸
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body
        .container
            h3 make room
            form(method='post' action='/room/create' enctype="multipart/form-data")
                input(type='file' name='file')
                span 파일
                button 제출
        if image
            img(src='/testing.png')
        script(src='javascripts/jquery.min.js')

