doctype html
html
  head
    meta(charset='UTF-8')
    title 프로그라피드백
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .login
      .login-triangle
      h2.login-header Log in
      form.login-container
        p
          input(type='email', placeholder='Email')
        p
          input(type='password', placeholder='Password')
        p
          input(type='submit', value='Log in', onclick='login()')
    script.
      function login() {
      location.href = '/chat';
      }

