doctype html
html
    head
        meta(name='viewport', content='width=device-width, user-scalable-no', charset='UTF-8')
        title 프로그라피드백
        link(rel='stylesheet', href='stylesheets/login.css')
        link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    body
        form.login-form(action='/' method='post')
            img.logo(src='images/logo.png')
            .form-group
                input.form-control#UserName(type='text' placeholder="닉네임" name='nickname')
            .form-group.log-status
                input.form-control#Password(type="password" placeholder="비밀번호" name='pwd')
            if errmsg
                span.alert=errmsg
            a.link(href="/register") 회원가입
            button.log-btn(type="submit") 로그인
        script(src='javascripts/jquery.min.js')
